{% extends "main.html" %}
{% block content %}
			<div class="row banner main">
			<center><div id="head1"><br>EDIT MOVIE {{editMov.name}}</div></center>
	</div>
	<center>
<form action="#" method = 'post'>
	<br><br>
	<input type="text" style="width: 730px; height: 40px; border-radius: 5px; color: #000; font-size: 30px;" type ="text" maxlength="100" name="name" value="{{editMov.name}}">
	<br><br>
	<textarea style="border-radius: 5px; color: #000; font-size: 30px;" type ="text" rows="5" cols="40" name="description" value="{{editMov.description}}"></textarea>
	<br><br>
	<input type="text" style="width: 730px; height: 40px; border-radius: 5px; color: #000; font-size: 30px;" type ="text" maxlength="100" name="producer" value="{{editMov.producer}}">
	<br><br>
	<input type="text" style="width: 730px; height: 40px; border-radius: 5px; color: #000; font-size: 30px;" type ="text" maxlength="100" name="starring" value="{{editMov.starring}}">
	<br><br>
	<button style="width:190px; height: 40px; font-size: 30px; background-color: #000; color: #fff;"type="submit" id="submit" type="submit">EDIT</button>
	&nbsp;&nbsp;&nbsp;<a href = "{{url_for('shownewMovie_type',movietype_id=genre.id)}}">
		<input type="button" style="width:190px; height: 40px; font-size: 30px; background-color: #000; color: #fff;" value="Cancel"></input>
	</a>
</form>
</center>
{% endblock %}