{% extends "main.html" %}
{% block content %}
	<div class="row banner main">
			<center><div id="head1"><br>ADD GENRE</div></center>
	</div>
		<br>
		<form action="#" method = "post">
				<div class="form-group">
				<center>
				<input style="width: 380px; height: 40px; border-radius: 5px;" type ="text" maxlength="100" name="name">
				<br><br>
				<button style="width: 180px; height: 40px; font-size: 20px; color: #fff; background-color: #000;" type="submit" class="btn btn-default" id="submit" type="submit">ADD</button>
				</div>
				</center>
			</form>
{% endblock %}