{% extends "main.html" %}
{% block content %}
<a href="{{url_for('gdisconnect')}}"><button style="width: 300px; height: 50px; background-color: transparent; border-color: transparent; color: #fff;
	font-size: 30px;">Click here to Logout</button></a>
	<div class="row banner main">
			<center><div id="head1"><br>MOVIES CATALOG</div></center>
	</div>
	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
		<br>
		<font style="font-size: 50px; color: #E8F5E9; font-weight: 950;">CATEGORY</font>
		<br><br>
		<a href="{{url_for('newGenre')}}"><button id="b1">ADD GENRE</button></a><br>
	{% for i in Movie%}
		<div id="item"><a href = "{{url_for('showMovie_type', movietype_id= i.id)}}">{{i.movie_type}}</a></div>
		<br>
	{% endfor %}
{% endblock %}
